*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin: 0%;
	padding: 0%;
}
body {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	font-size: 2em;
}
p {
	text-decoration: none;
	font-size: 1em;
	padding: 1vh;
}

/** FIRST PART **/
.primarycontainer {
	background-image: url(./images/bg_1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	width: 100%;
}

.left-side {
	max-width: 600px;
}

.container__form--box {
	background: rgba(247, 237, 224, 0.768);
	height: fit-content;
	padding: 4vh;
	border-radius: 20px;
}
.form {
	padding-bottom: 3vh;
}
/** BUTTON **/
.form_btn {
	color: #d5d5d5;
	background: rgb(202, 2, 32);
	padding: 1.5vh 5vh;
	cursor: pointer;
	border: none;
	border-radius: 20px;
	text-decoration: none;
	font-size: 2rem;
}
.form_btn:hover {
	color: #d5d5d5;
	background: rgb(28, 26, 27);
}
